{% extends 'nhlinfo/base.html' %}

{% block title %}
    Team - {{ team }}
{% endblock %}

{% block content %}
    <article>
        <div class="row">
            <div class="offset-by-two eight columns">
                <h2>{{ team }}</h2>
                <section>
                    <h3>Goalies</h3>
                    {% for goalie in goalie_list %}
                        <li>
                            <a href="{{ goalie.get_absolute_url }}"> {{ goalie }}</a>
                        </li>
                    {% endfor %}
                    <h3>Defense</h3>
                    {% for defense in defense_list %}
                        <li>
                            <a href="{{ defense.get_absolute_url }}"> {{ defense }}</a>
                        </li>
                    {% endfor %}
                    <h3>Forwards</h3>
                    {% for forward in forward_list %}
                        <li>
                            <a href="{{ forward.get_absolute_url }}"> {{ forward }}</a>
                        </li>
                    {% endfor %}

                </section>


            </div>
        </div> <!-- row -->

    </article>
{% endblock %}
